<main class="container">
  <div>
    <input type="text" [formControl]="username" placeholder="username" />
    <input type="text" [formControl]="email" placeholder="email" />
    <input type="password" [formControl]="password" placeholder="password" />
    <input type="text" [formControl]="street" placeholder="street" />
    <input type="text" [formControl]="postcode" placeholder="postcode" />
    <input type="text" [formControl]="city" placeholder="city" />
    <button type="button" (click)="onSubmitForm()">Inscription</button>
  </div>

  <div *ngIf="newUser">
    <p>{{ newUser.username }}</p>
    <p>{{ newUser.email }}</p>
    <p>{{ newUser.password }}</p>
    <p>
      {{ newUser.address.street }} {{ newUser.address.postcode }}
      {{ newUser.address.city }}
    </p>
  </div>
</main>
