.cocktailcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

h2,
h3 {
  margin: 0;
  padding: 0;
}

.cocktailcard {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-inline: 1rem;
  width: 250px;
  height: 350px;
  border-radius: 10px;
  background: center / cover no-repeat;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  .cocktaildetails {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1em;
    color: white;
    background: linear-gradient(#ffffff00, #000000);
    border-radius: 10px;
  }
}
